doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Only Yesterday by おもひでほろほろ

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Only Yesterday
        h2 by おもひでほろほろ
        <br>
        h5 #MA10オープンハードウェア ワークショップvol.01 by Mashup Awards
        <br>
        h6 2014/03/29 - 2014/03/30

      section
        h2 Only Yesterday
        h3 写真からあなたの思い出を鮮やかに再現します
          ul
            li 構成要素は...
            li 天気
            li 写真
            li 音楽
            li 光
            li 香り

      section
        <img src="./img/only-yesterday.png" width="600" height="450"></img>

      section
        h1 デモ
        h2 世界一周旅行の思い出を再現

      section
        h5 ニューヨーク
        <br>
        <img src="./img/Scene 1 Photo.jpg" width="600" height="450"></img>

      section
        h5 リオデジャネイロ
        <br>
        <img src="https://raw.githubusercontent.com/shimpeiws/only-yesterday-presentation/master/src/img/Scene%202%20Photo.JPG" width="600" height="450"></img>

      section
        h5 イタリア
        <br>
        <img src="./img/Scene 3 Photo.jpg" width="600" height="450"></img>

      section
        h5 ヨーロッパの城
        <br>
        <img src="./img/Scene 4 Photo.jpg" width="600" height="450"></img>

      section
        h5 ケニア サバンナ
        <br>
        <img src="https://raw.githubusercontent.com/shimpeiws/only-yesterday-presentation/master/src/img/Scene%205%20Photo.JPG" width="600" height="450"></img>

      section
        h5 北欧
        <br>
        <img src="./img/Scene 6 Photo.jpg" width="600" height="450"></img>

      section
        h5 地中海
        <br>
        <img src="./img/Scene 7 Photo.jpg" width="600" height="450"></img>

      section
        h5 どっかの南国の海で
        <br>
        <img src="./img/Scene 8 Photo.jpg" width="600" height="450"></img>

      section
        h5 中国 北京
        <br>
        <img src="./img/Scene 9 Photo.jpg" width="600" height="450"></img>

      section
        h5 ハワイ　フラダンス
        <br>
        <img src="./img/Scene 10 Photo.jpg" width="600" height="450"></img>

      section
        h2 将来的にはこんなことも...

      section
        h3 あなたが死の床につことしている時...
        <img src="./img/okuribito.jpg" width="450" height="450"></img>

      section
        h3 心拍を検出して...
        <img src="./img/IW9PLS_PULSE.jpg" width="640" height="482"></img>

      section
        h3 Only Yesterdayがあなたの走馬灯を再生します!!!
        <img src="./img/soumato.jpg" width="450" height="450"></img>

      section
        h3 Only Yesterdayで<br>あなたの思い出を再現しましょう!
          ul
            li 
            li ありがとうございました

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild