doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Only Yesterday by おもひでほろほろ

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Only Yesterday
        h2 by おもひでほろほろ

      section
        h2 Only Yesterday
        h3 写真からあなたの思い出を鮮やかに再現します
          ul
            li 構成要素は...
            li 天気
            li 写真
            li 音楽
            li 光
            li 香り

      section
        <img src="./img/only-yesterday.png" width="600" height="450"></img>

      section
        h1 デモ

      section
        h1 将来的にはこんなことも...

      section
        h3 あなたが死の床につことしている時...
        <img src="./img/okuribito.jpg" width="450" height="450"></img>

      section
        h3 心拍を検出して...
        <img src="./img/IW9PLS_PULSE.jpg" width="640" height="482"></img>

      section
        h3 Only Yesterdayがあなたの走馬灯を再生します!!!
        <img src="./img/soumato.jpg" width="450" height="450"></img>

      section
        h3 Only Yesterdayで<br>あなたの思い出を再現しましょう!
          ul
            li 
            li ありがとうございました

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild